---
http_interactions:
- request:
    method: get
    uri: http://shelly-fridge.fritz.box/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Wed, 10 Jun 2026 09:42:35 GMT
- request:
    method: get
    uri: http://shelly-fridge.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ble":{},"cloud":{"connected":true},"mqtt":{"connected":true},"plugs_ui":{},"switch:0":{"id":0,
        "source":"init", "output":true, "apower":0.0, "voltage":231.6, "current":0.000,
        "aenergy":{"total":315843.715,"by_minute":[139.879,833.038,835.265],"minute_ts":1781084520},"temperature":{"tC":26.0,
        "tF":78.8}},"sys":{"mac":"E465B8B12BF0","restart_required":false,"time":"11:42","unixtime":1781084569,"last_sync_ts":1781082880,"uptime":5572472,"ram_size":250608,"ram_free":132584,"ram_min_free":108388,"fs_size":393216,"fs_free":106496,"cfg_rev":34,"kvs_rev":0,"schedule_rev":1,"webhook_rev":0,"btrelay_rev":0,"available_updates":{},"reset_reason":3,"utc_offset":7200},"wifi":{"sta_ip":"192.168.178.90","status":"got
        ip","ssid":"FRITZ!Box 4060 RX","bssid":"3c:37:12:88:45:39","rssi":-78},"ws":{"connected":false}}'
  recorded_at: Wed, 10 Jun 2026 09:42:35 GMT
- request:
    method: get
    uri: http://shelly-fridge.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ble":{},"cloud":{"connected":true},"mqtt":{"connected":true},"plugs_ui":{},"switch:0":{"id":0,
        "source":"init", "output":true, "apower":0.0, "voltage":231.6, "current":0.000,
        "aenergy":{"total":315843.715,"by_minute":[139.879,833.038,835.265],"minute_ts":1781084520},"temperature":{"tC":26.0,
        "tF":78.8}},"sys":{"mac":"E465B8B12BF0","restart_required":false,"time":"11:42","unixtime":1781084569,"last_sync_ts":1781082880,"uptime":5572472,"ram_size":250600,"ram_free":132248,"ram_min_free":108388,"fs_size":393216,"fs_free":106496,"cfg_rev":34,"kvs_rev":0,"schedule_rev":1,"webhook_rev":0,"btrelay_rev":0,"available_updates":{},"reset_reason":3,"utc_offset":7200},"wifi":{"sta_ip":"192.168.178.90","status":"got
        ip","ssid":"FRITZ!Box 4060 RX","bssid":"3c:37:12:88:45:39","rssi":-78},"ws":{"connected":false}}'
  recorded_at: Wed, 10 Jun 2026 09:42:35 GMT
recorded_with: VCR 6.4.0
