---
http_interactions:
- request:
    method: get
    uri: http://shelly-heatpump.fritz.box/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Mon, 09 Feb 2026 11:26:45 GMT
- request:
    method: get
    uri: http://shelly-heatpump.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ble":{},"bthome":{"errors":["bluetooth_disabled"]},"cloud":{"connected":true},"em:0":{"id":0,"a_current":2.984,"a_voltage":232.8,"a_act_power":550.1,"a_aprt_power":694.7,"a_pf":0.80,"a_freq":50.0,"b_current":2.994,"b_voltage":233.5,"b_act_power":548.7,"b_aprt_power":698.9,"b_pf":0.78,"b_freq":50.0,"c_current":2.825,"c_voltage":232.8,"c_act_power":503.3,"c_aprt_power":657.1,"c_pf":0.76,"c_freq":50.0,"n_current":null,"total_current":8.803,"total_act_power":1602.117,"total_aprt_power":2050.625,
        "user_calibrated_phase":[]},"emdata:0":{"id":0,"a_total_act_energy":1851017.77,"a_total_act_ret_energy":1.06,"b_total_act_energy":1637563.03,"b_total_act_ret_energy":0.01,"c_total_act_energy":1372627.49,"c_total_act_ret_energy":9164.01,"total_act":4861208.29,
        "total_act_ret":9165.08},"eth":{"ip":"192.168.178.54","ip6":["fe80::3698:7aff:fe45:a6a3","fd75:70e:4c3a:4c69:3698:7aff:fe45:a6a3"]},"modbus":{},"mqtt":{"connected":false},"sys":{"mac":"34987A45A6A0","restart_required":false,"time":"12:26","unixtime":1770636405,"last_sync_ts":1770635256,"uptime":49905,"ram_size":244392,"ram_free":103212,"ram_min_free":86804,"fs_size":524288,"fs_free":196608,"cfg_rev":46,"kvs_rev":2,"schedule_rev":0,"webhook_rev":2,"btrelay_rev":0,"available_updates":{"beta":{"version":"1.7.4-beta2"}},"reset_reason":3,"utc_offset":3600},"temperature:0":{"id":
        0,"tC":46.0, "tF":114.8},"wifi":{"sta_ip":null,"status":"disconnected","ssid":null,"rssi":0,"sta_ip6":null},"ws":{"connected":false}}'
  recorded_at: Mon, 09 Feb 2026 11:26:45 GMT
[...]
