---
http_interactions:
- request:
    method: get
    uri: http://shelly-heatpump.fritz.box/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Mon, 08 Jun 2026 05:33:10 GMT
- request:
    method: get
    uri: http://shelly-heatpump.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ble":{},"bthome":{"errors":["bluetooth_disabled"]},"cloud":{"connected":true},"em:0":{"id":0,"a_current":0.607,"a_voltage":234.0,"a_act_power":13.0,"a_aprt_power":142.0,"a_pf":0.10,"a_freq":50.0,"b_current":0.648,"b_voltage":234.5,"b_act_power":4.8,"b_aprt_power":151.8,"b_pf":0.03,"b_freq":50.0,"c_current":0.616,"c_voltage":234.1,"c_act_power":-1.2,"c_aprt_power":144.0,"c_pf":0.01,"c_freq":50.0,"n_current":null,"total_current":1.871,"total_act_power":16.671,"total_aprt_power":437.842,
        "user_calibrated_phase":[]},"emdata:0":{"id":0,"a_total_act_energy":2107592.18,"a_total_act_ret_energy":1.31,"b_total_act_energy":1874725.87,"b_total_act_ret_energy":0.01,"c_total_act_energy":1567897.47,"c_total_act_ret_energy":11041.24,"total_act":5550215.52,
        "total_act_ret":11042.56},"eth":{"ip":"192.168.178.54","ip6":["fe80::3698:7aff:fe45:a6a3","fd75:70e:4c3a:4c69:3698:7aff:fe45:a6a3"]},"modbus":{},"mqtt":{"connected":true},"sys":{"mac":"34987A45A6A0","restart_required":false,"time":"07:33","unixtime":1780896790,"last_sync_ts":1780896608,"uptime":5399382,"ram_size":244300,"ram_free":102032,"ram_min_free":76588,"fs_size":524288,"fs_free":192512,"cfg_rev":49,"kvs_rev":2,"schedule_rev":0,"webhook_rev":2,"btrelay_rev":0,"available_updates":{"beta":{"version":"2.0.0-beta2"}},"reset_reason":3,"utc_offset":7200},"temperature:0":{"id":
        0,"tC":46.0, "tF":114.9},"wifi":{"sta_ip":null,"status":"disconnected","ssid":null,"rssi":0,"sta_ip6":null},"ws":{"connected":false}}'
  recorded_at: Mon, 08 Jun 2026 05:33:10 GMT
[...]
