---
http_interactions:
- request:
    method: get
    uri: http://shelly-heatpump.fritz.box/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Wed, 10 Jun 2026 09:42:17 GMT
- request:
    method: get
    uri: http://shelly-heatpump.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ble":{},"bthome":{"errors":["bluetooth_disabled"]},"cloud":{"connected":true},"em:0":{"id":0,"a_current":0.611,"a_voltage":235.6,"a_act_power":13.3,"a_aprt_power":143.8,"a_pf":0.09,"a_freq":50.0,"b_current":0.651,"b_voltage":235.2,"b_act_power":5.0,"b_aprt_power":153.0,"b_pf":0.03,"b_freq":50.0,"c_current":0.619,"c_voltage":234.6,"c_act_power":-1.2,"c_aprt_power":145.1,"c_pf":0.01,"c_freq":50.0,"n_current":null,"total_current":1.880,"total_act_power":17.092,"total_aprt_power":441.862,
        "user_calibrated_phase":[]},"emdata:0":{"id":0,"a_total_act_energy":2109290.68,"a_total_act_ret_energy":1.32,"b_total_act_energy":1875946.69,"b_total_act_ret_energy":0.01,"c_total_act_energy":1568811.91,"c_total_act_ret_energy":11096.39,"total_act":5554049.28,
        "total_act_ret":11097.71},"eth":{"ip":"192.168.178.54","ip6":["fe80::3698:7aff:fe45:a6a3","fd75:70e:4c3a:4c69:3698:7aff:fe45:a6a3"]},"modbus":{},"mqtt":{"connected":true},"sys":{"mac":"34987A45A6A0","restart_required":false,"time":"11:42","unixtime":1781084537,"last_sync_ts":1781082735,"uptime":5587132,"ram_size":244296,"ram_free":101944,"ram_min_free":76588,"fs_size":524288,"fs_free":192512,"cfg_rev":49,"kvs_rev":2,"schedule_rev":0,"webhook_rev":2,"btrelay_rev":0,"available_updates":{"beta":{"version":"2.0.0-beta2"}},"reset_reason":3,"utc_offset":7200},"temperature:0":{"id":
        0,"tC":43.4, "tF":110.2},"wifi":{"sta_ip":null,"status":"disconnected","ssid":null,"rssi":0,"sta_ip6":null},"ws":{"connected":false}}'
  recorded_at: Wed, 10 Jun 2026 09:42:17 GMT
[...]
