---
http_interactions:
- request:
    method: get
    uri: http://shelly-fridge.fritz.box/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Mon, 08 Jun 2026 05:13:52 GMT
- request:
    method: get
    uri: http://shelly-fridge.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ble":{},"cloud":{"connected":true},"mqtt":{"connected":true},"plugs_ui":{},"switch:0":{"id":0,
        "source":"init", "output":true, "apower":0.0, "voltage":231.2, "current":0.000,
        "aenergy":{"total":315031.792,"by_minute":[0.000,0.000,0.000],"minute_ts":1780895580},"temperature":{"tC":26.8,
        "tF":80.2}},"sys":{"mac":"E465B8B12BF0","restart_required":false,"time":"07:13","unixtime":1780895634,"last_sync_ts":1780895449,"uptime":5382001,"ram_size":250608,"ram_free":132576,"ram_min_free":108388,"fs_size":393216,"fs_free":106496,"cfg_rev":34,"kvs_rev":0,"schedule_rev":1,"webhook_rev":0,"btrelay_rev":0,"available_updates":{},"reset_reason":3,"utc_offset":7200},"wifi":{"sta_ip":"192.168.178.90","status":"got
        ip","ssid":"FRITZ!Box 4060 RX","bssid":"3c:37:12:88:45:39","rssi":-76},"ws":{"connected":false}}'
  recorded_at: Mon, 08 Jun 2026 05:13:52 GMT
- request:
    method: get
    uri: http://shelly-fridge.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ble":{},"cloud":{"connected":true},"mqtt":{"connected":true},"plugs_ui":{},"switch:0":{"id":0,
        "source":"init", "output":true, "apower":0.0, "voltage":231.2, "current":0.000,
        "aenergy":{"total":315031.792,"by_minute":[0.000,0.000,0.000],"minute_ts":1780895580},"temperature":{"tC":26.8,
        "tF":80.2}},"sys":{"mac":"E465B8B12BF0","restart_required":false,"time":"07:13","unixtime":1780895634,"last_sync_ts":1780895449,"uptime":5382001,"ram_size":250608,"ram_free":132568,"ram_min_free":108388,"fs_size":393216,"fs_free":106496,"cfg_rev":34,"kvs_rev":0,"schedule_rev":1,"webhook_rev":0,"btrelay_rev":0,"available_updates":{},"reset_reason":3,"utc_offset":7200},"wifi":{"sta_ip":"192.168.178.90","status":"got
        ip","ssid":"FRITZ!Box 4060 RX","bssid":"3c:37:12:88:45:39","rssi":-77},"ws":{"connected":false}}'
  recorded_at: Mon, 08 Jun 2026 05:13:52 GMT
recorded_with: VCR 6.4.0
