---
http_interactions:
- request:
    method: get
    uri: http://shelly-tv.fritz.box/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Fri, 27 Feb 2026 09:54:03 GMT
- request:
    method: get
    uri: http://shelly-tv.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      www-authenticate:
      - Digest qop="auth", realm="shellyplugsg3-8cbfea9295d0", nonce="1772186043",
        algorithm=SHA-256
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Feb 2026 09:54:03 GMT
- request:
    method: get
    uri: http://shelly-tv.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Digest username="admin", realm="shellyplugsg3-8cbfea9295d0", nonce="1772186043",
        uri="/rpc/Shelly.GetStatus", qop=auth, nc=00000001, cnonce="e896eccb53ee5e9e",
        response="06548b6d424b21d8af6501ce3545dbd1712d671dd204576d9ee61000c3bf9e77",
        algorithm=SHA-256
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ble":{},"bthome":{"errors":["bluetooth_disabled"]},"cloud":{"connected":true},"knx":{},"matter":{"num_fabrics":0,"commissionable":false},"mqtt":{"connected":false},"plugs_ui":{},"switch:0":{"id":0,
        "source":"init", "output":true, "apower":0.0, "voltage":237.3, "freq":50.0,
        "current":0.000, "aenergy":{"total":13832.280,"by_minute":[0.000,0.000,0.000],"minute_ts":1772186040},
        "ret_aenergy":{"total":0.000,"by_minute":[0.000,0.000,0.000],"minute_ts":1772186040},"temperature":{"tC":35.7,
        "tF":96.3}},"sys":{"mac":"8CBFEA9295D0","restart_required":false,"time":"10:54","unixtime":1772186043,"last_sync_ts":1772185234,"uptime":1443263,"ram_size":258728,"ram_free":109036,"ram_min_free":95584,"fs_size":917504,"fs_free":454656,"cfg_rev":25,"kvs_rev":0,"schedule_rev":1,"webhook_rev":0,"btrelay_rev":0,"bthc_rev":0,"available_updates":{"beta":{"version":"1.7.5-beta1"}},"reset_reason":3,"utc_offset":3600},"wifi":{"sta_ip":"192.168.178.108","status":"got
        ip","ssid":"FRITZ!Box 4060 RX","bssid":"3c:37:12:88:45:39","rssi":-37,"sta_ip6":["fe80::8ebf:eaff:fe92:95d0","fd75:70e:4c3a:4c69:8ebf:eaff:fe92:95d0"]},"ws":{"connected":false}}'
  recorded_at: Fri, 27 Feb 2026 09:54:03 GMT
[...]
