---
http_interactions:
- request:
    method: get
    uri: http://shelly-tv.fritz.box/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Wed, 10 Jun 2026 09:42:35 GMT
- request:
    method: get
    uri: http://shelly-tv.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      www-authenticate:
      - Digest qop="auth", realm="shellyplugsg3-8cbfea9295d0", nonce="1781084556",
        algorithm=SHA-256
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Jun 2026 09:42:36 GMT
- request:
    method: get
    uri: http://shelly-tv.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Digest username="admin", realm="shellyplugsg3-8cbfea9295d0", nonce="1781084556",
        uri="/rpc/Shelly.GetStatus", qop=auth, nc=00000001, cnonce="63b93c996a95110e",
        response="3a3b592961010cee56234304cd71ab84be5b0b85548e97e0257ce35ddbf4c9fd",
        algorithm=SHA-256
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ble":{},"bthome":{"errors":["bluetooth_disabled"]},"cloud":{"connected":true},"knx":{},"matter":{"num_fabrics":0,"commissionable":false},"mqtt":{"connected":false},"plugs_ui":{},"switch:0":{"id":0,
        "source":"init", "output":true, "apower":0.0, "voltage":236.5, "freq":50.0,
        "current":0.000, "aenergy":{"total":16224.380,"by_minute":[0.000,0.000,0.000],"minute_ts":1781084520},
        "ret_aenergy":{"total":0.000,"by_minute":[0.000,0.000,0.000],"minute_ts":1781084520},"temperature":{"tC":34.9,
        "tF":94.8}},"sys":{"mac":"8CBFEA9295D0","restart_required":false,"time":"11:42","unixtime":1781084556,"last_sync_ts":1781083165,"uptime":5587231,"ram_size":259032,"ram_free":112668,"ram_min_free":82228,"fs_size":917504,"fs_free":454656,"cfg_rev":27,"kvs_rev":0,"schedule_rev":1,"webhook_rev":0,"btrelay_rev":0,"bthc_rev":0,"available_updates":{"beta":{"version":"2.0.0-beta1"}},"reset_reason":3,"utc_offset":7200},"wifi":{"sta_ip":"192.168.178.108","status":"got
        ip","ssid":"FRITZ!Box 4060 RX","bssid":"3c:37:12:88:45:39","rssi":-38,"sta_ip6":["fe80::8ebf:eaff:fe92:95d0","fd75:70e:4c3a:4c69:8ebf:eaff:fe92:95d0"]},"ws":{"connected":false}}'
  recorded_at: Wed, 10 Jun 2026 09:42:36 GMT
[...]
