---
http_interactions:
- request:
    method: get
    uri: http://shelly-heatpump.home.arpa/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Sun, 08 Feb 2026 16:28:03 GMT
- request:
    method: get
    uri: http://shelly-heatpump.home.arpa/rpc/Shelly.GetStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ble":{},"bthome":{"errors":["bluetooth_disabled"]},"cloud":{"connected":true},"em:0":{"id":0,"a_current":1.689,"a_voltage":234.1,"a_act_power":210.6,"a_aprt_power":395.2,"a_pf":0.53,"a_freq":49.9,"b_current":1.675,"b_voltage":234.3,"b_act_power":176.9,"b_aprt_power":392.5,"b_pf":0.45,"b_freq":49.9,"c_current":1.598,"c_voltage":234.1,"c_act_power":148.3,"c_aprt_power":373.8,"c_pf":0.40,"c_freq":49.9,"n_current":null,"total_current":4.962,"total_act_power":535.733,"total_aprt_power":1161.466,
        "user_calibrated_phase":[]},"emdata:0":{"id":0,"a_total_act_energy":1847604.83,"a_total_act_ret_energy":1.06,"b_total_act_energy":1634102.70,"b_total_act_ret_energy":0.01,"c_total_act_energy":1369734.54,"c_total_act_ret_energy":9164.01,"total_act":4851442.07,
        "total_act_ret":9165.08},"eth":{"ip":"192.168.178.83","ip6":["fe80::3698:7aff:fe45:a6a3","fd75:70e:4c3a:4c69:3698:7aff:fe45:a6a3"]},"modbus":{},"mqtt":{"connected":false},"sys":{"mac":"34987A45A6A0","restart_required":false,"time":"17:28","unixtime":1770568083,"last_sync_ts":1770567156,"uptime":11433338,"ram_size":244576,"ram_free":126260,"ram_min_free":100028,"fs_size":524288,"fs_free":196608,"cfg_rev":46,"kvs_rev":2,"schedule_rev":0,"webhook_rev":2,"btrelay_rev":0,"available_updates":{"beta":{"version":"1.7.4-beta2"}},"reset_reason":3,"utc_offset":3600},"temperature:0":{"id":
        0,"tC":45.8, "tF":114.5},"wifi":{"sta_ip":null,"status":"disconnected","ssid":null,"rssi":0,"sta_ip6":null},"ws":{"connected":false}}'
  recorded_at: Sun, 08 Feb 2026 16:28:03 GMT
[...]
