---
http_interactions:
- request:
    method: get
    uri: http://shelly-fridge.fritz.box/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Fri, 27 Feb 2026 09:54:02 GMT
- request:
    method: get
    uri: http://shelly-fridge.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ble":{},"cloud":{"connected":true},"mqtt":{"connected":true},"plugs_ui":{},"switch:0":{"id":0,
        "source":"init", "output":true, "apower":53.4, "voltage":231.4, "current":0.232,
        "aenergy":{"total":277400.973,"by_minute":[896.741,906.541,939.061],"minute_ts":1772186040},"temperature":{"tC":25.8,
        "tF":78.5}},"sys":{"mac":"E465B8B12BF0","restart_required":false,"time":"10:54","unixtime":1772186047,"last_sync_ts":1772185422,"uptime":1387071,"ram_size":250496,"ram_free":130104,"ram_min_free":111152,"fs_size":393216,"fs_free":114688,"cfg_rev":32,"kvs_rev":0,"schedule_rev":1,"webhook_rev":0,"btrelay_rev":0,"available_updates":{"beta":{"version":"1.7.5-beta1"}},"reset_reason":3,"utc_offset":3600},"wifi":{"sta_ip":"192.168.178.90","status":"got
        ip","ssid":"FRITZ!Box 4060 RX","bssid":"1c:ed:6f:6c:db:98","rssi":-68},"ws":{"connected":false}}'
  recorded_at: Fri, 27 Feb 2026 09:54:02 GMT
- request:
    method: get
    uri: http://shelly-fridge.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ble":{},"cloud":{"connected":true},"mqtt":{"connected":true},"plugs_ui":{},"switch:0":{"id":0,
        "source":"init", "output":true, "apower":52.9, "voltage":231.6, "current":0.232,
        "aenergy":{"total":277400.988,"by_minute":[896.741,906.541,939.061],"minute_ts":1772186040},"temperature":{"tC":26.2,
        "tF":79.1}},"sys":{"mac":"E465B8B12BF0","restart_required":false,"time":"10:54","unixtime":1772186047,"last_sync_ts":1772185422,"uptime":1387071,"ram_size":250492,"ram_free":129916,"ram_min_free":111152,"fs_size":393216,"fs_free":114688,"cfg_rev":32,"kvs_rev":0,"schedule_rev":1,"webhook_rev":0,"btrelay_rev":0,"available_updates":{"beta":{"version":"1.7.5-beta1"}},"reset_reason":3,"utc_offset":3600},"wifi":{"sta_ip":"192.168.178.90","status":"got
        ip","ssid":"FRITZ!Box 4060 RX","bssid":"1c:ed:6f:6c:db:98","rssi":-68},"ws":{"connected":false}}'
  recorded_at: Fri, 27 Feb 2026 09:54:02 GMT
recorded_with: VCR 6.4.0
