---
http_interactions:
- request:
    method: get
    uri: http://shelly-heatpump.fritz.box/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Fri, 27 Feb 2026 09:53:55 GMT
- request:
    method: get
    uri: http://shelly-heatpump.fritz.box/rpc/Shelly.GetStatus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ble":{},"bthome":{"errors":["bluetooth_disabled"]},"cloud":{"connected":true},"em:0":{"id":0,"a_current":2.643,"a_voltage":235.9,"a_act_power":490.0,"a_aprt_power":623.0,"a_pf":0.75,"a_freq":50.0,"b_current":2.672,"b_voltage":236.3,"b_act_power":433.8,"b_aprt_power":631.5,"b_pf":0.72,"b_freq":50.0,"c_current":2.666,"c_voltage":235.0,"c_act_power":433.6,"c_aprt_power":625.8,"c_pf":0.71,"c_freq":50.0,"n_current":null,"total_current":7.981,"total_act_power":1357.348,"total_aprt_power":1880.279,
        "user_calibrated_phase":[]},"emdata:0":{"id":0,"a_total_act_energy":1920682.98,"a_total_act_ret_energy":1.07,"b_total_act_energy":1705737.24,"b_total_act_ret_energy":0.01,"c_total_act_energy":1429846.60,"c_total_act_ret_energy":9269.48,"total_act":5056266.81,
        "total_act_ret":9270.56},"eth":{"ip":"192.168.178.54","ip6":["fe80::3698:7aff:fe45:a6a3","fd75:70e:4c3a:4c69:3698:7aff:fe45:a6a3"]},"modbus":{},"mqtt":{"connected":true},"sys":{"mac":"34987A45A6A0","restart_required":false,"time":"10:53","unixtime":1772186035,"last_sync_ts":1772184623,"uptime":1445435,"ram_size":244552,"ram_free":128584,"ram_min_free":108060,"fs_size":524288,"fs_free":196608,"cfg_rev":48,"kvs_rev":2,"schedule_rev":0,"webhook_rev":2,"btrelay_rev":0,"available_updates":{"beta":{"version":"1.7.5-beta1"}},"reset_reason":3,"utc_offset":3600},"temperature:0":{"id":
        0,"tC":43.7, "tF":110.6},"wifi":{"sta_ip":null,"status":"disconnected","ssid":null,"rssi":0,"sta_ip6":null},"ws":{"connected":false}}'
  recorded_at: Fri, 27 Feb 2026 09:53:55 GMT
[...]
